  <%= render "shared/header" %>

<% if @keeps.present? %>
  <div class='item-contents'>
    <h2 class='title'>あなたのお気に入りです</h2>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>
      <% @keeps.each do |keep| %>
      <li class='list'>
        <%= link_to item_path(keep.item.id), method: :get do %>
        <div class='item-img-content'>
          <%= image_tag keep.item.image, class: "item-img" if keep.item.image.attached? %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= keep.item.item %>
          </h3>
          <div class='item-price'>
            <span><%= keep.item.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class='item-contents'>
    <h2 class='title'>お気に入り登録された商品はここに表示されます</h2>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>
    <li class='list'>
      <%= image_tag "https://1.bp.blogspot.com/-ixQPkOtXMn0/WUdZWKUBRQI/AAAAAAABFFI/YN7PJtsm8YEnGHzRaP8hsKGis1qZAxtZQCLcBGAs/s400/shopping_urikiremashita_woman.png", class: "item-img" %>
      <div class='item-info'>
      </div>
    </li>
  <div>
<% end %>

<%= render "shared/footer" %>